.bg {
    background-color: #D5DADE;
}

.size {
    height: 10vh;
    width: 90vw;
}

.border-w {
    border-width: 0px;
}

.borderw1 {
    border-width: 2px;
    border-color: black;
}

.card1 {
    background-image: linear-gradient(to bottom, #D5DADE, #D5DADE, #ffffff, #ffffff);
    height: 50vh;
    width: 45vw;
    border-radius: 15px;
    margin: 10px;
}

.card-para {
    border-radius: 40px;
    height: 70px;
    width: 400px;
}

.icon-size {
    font-size: 35px;
}

.schedule-time {
    font-size: 30px;
    font-weight: 500;
}

.card {
    background-color: white;
    border-radius: 15px;
    margin: 10px;
}

.checkbox-font {
    font-size: 28px;
}

.checkbox-size {
    height: 30px;
    width: 40px;
}

.para {
    font-size: 28px;
}

.nextbutton {
    height: 45px;
    width: 85px;
}

.google-img {
    height: 70px;
    width: 120px;
}

.ul-style {
    list-style-type: none;
}

.img1 {
    height: 40vh;
    width: 30vw;
}

.icon-size1 {
    font-size: 60px;
}

.text-bold {
    font-weight: 600;
}

.border-w {
    border-width: 0px;
}

.search-bar-bg {
    background-color: #D5DADE;
}

.icon-size {
    font-size: 33px;
}

.list-style {
    list-style-type: none;
    font-size: 25px;
}

.icon-color {
    color: black;
}